<div class="specialties">
    <h2 class="title">NOSSAS ESPECIALIDADES</h2>
    <div class="specialties-content">
      <div class="specialties-image">
        <img src="../../../assets/images/background-img.png" alt="Pizza Especialidade">
      </div>
      <div class="specialties-details">
        <div class="specialty-item">
          <h3>Italian Oil</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="specialty-item">
          <h3>Tomatoes</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="specialty-item">
          <h3>Fresh Ingredients</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="specialty-item">
          <h3>Top Chefs</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
  