<div class="specialties">
  <div class="specialties-content">
    <!-- Imagem ocupando 50% -->
    <div class="specialties-image">
      <img src="../../../assets/images/tasty-pizza-ingredients-isolated-white 1.png" alt="Pizza Especialidade">
    </div>
    <!-- Título e Detalhes no lado direito -->
    <div class="specialties-details">
      <h2 class="title">NOSSAS ESPECIALIDADES</h2>
      <div class="specialty-item">
        <img src="../../../assets/images/oleo.png" alt="Italian Oil" class="icon">
        <div class="specialty-text">
          <h3>Italian Oil</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nisi nec libero fermentum.</p>
        </div>
      </div>
      <div class="specialty-item">
        <img src="../../../assets/images/tomate.png" alt="Tomatoes" class="icon">
        <div class="specialty-text">
          <h3>Paseis e Salgados</h3>
          <p>Varidades de Pastéis, além de uma seleção de salgados, tods preparados com ingredientes de alta qualidade.</p>
        </div>
      </div>
      <div class="specialty-item">
        <img src="../../../assets/images/camarao.png" alt="Fresh Ingredients" class="icon">
        <div class="specialty-text">
          <h3>Receitas</h3>
          <p>Nossas receitas são desenvolvidas com cuidado e paixão.</p>
        </div>
      </div>
      <div class="specialty-item">
        <img src="../../../assets/images/like.png" alt="Top Chefs" class="icon">
        <div class="specialty-text">
          <h3>Top Chefs</h3>
          <p>Contamos com chefes especializados que preparam cada pastel e salgado com dedicação.</p>
        </div>
      </div>
    </div>
  </div>
</div>
