.card-component{
    padding: 5em;   
  
}

.texto{
    margin-bottom: 2em;
    font-family: "Oleo Script", system-ui;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;  
    color: white;  
}

.button-pedido button{
    background-color: #ffcf00;
    padding: 1em 2em;
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
}

