<div  class="container_carrossel">

    <div class="itens_cardapio keen-slider"  #sliderRef>

        
           

                <app-itens-cardapio *ngFor="let produto of produtos"
                class="keen-slider__slide "
                [idItem]="produto.idItem"
                    [nomeItem]="produto.nome"
                    [descricao]="produto.descricao" 
                    [preco]="produto.preco"
                    [urlImagem]="produto.urlImagem"
                ></app-itens-cardapio>
      
        
        
        


    </div>

</div>