<div class="mais-pedidos-container">
    <div class="mais-pedidos-image">
      <img src="../../../assets/images/sabores.png" alt="Pizza Mais Pedidos">
    </div>
    <div class="mais-pedidos-content">
      <h2 class="mais-pedidos-title">OS MAIS PEDIDOS <br> PELA GALERA</h2>
      <p class="mais-pedidos-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
      </p>
      <ul class="mais-pedidos-lista">
        <li>Capricciosa</li>
        <li>Vesuvio</li>
        <li>Quattro Stagione</li>
        <li>Funghi Rosa</li>
        <li>Pepperoni</li>
        <li>Stivale</li>
      </ul>
    </div>
  </div>
  