<div class="mais-pedidos-container">
    <div class="mais-pedidos-image">
      <img src="../../../assets/images/sabores.png" alt="Pizza Mais Pedidos">
    </div>
    <div class="mais-pedidos-content">
      <h2 class="mais-pedidos-title">OS MAIS PEDIDOS <br> PELA GALERA</h2>
      <p class="mais-pedidos-description">
        Descubra os sabores que conquistaram o coração dos nossos clientes! Cada pedido é preparado com ingredientes frescos e muito carinho para garantir uma experiência inesquecível.
      </p>
      <ul class="mais-pedidos-lista">
        <li>Pizza com queijo</li>
        <li>Calabersa com Queijo</li>
        <li>Hotdog com queijo</li>
        <li>Bacon com queijo</li>
        <li>Pizza Brotinho</li>
        <li>Guarana da Amazonia</li>
 
      </ul>
    </div>
  </div>
  