<app-menu-info></app-menu-info>

<div class="container-header">
  <nav class="navbar">
    <!-- Menu esquerdo -->
    <ul class="menu-left">
      <li><a (click)="toBeneficios()">Home</a></li>
      <li><a (click)="toFuncionalidades()">Menu</a></li>
      <li><a (click)="toPlanos()">Contato</a></li>
    </ul>


    <!-- Logo -->
    <div class="logo">
      <img src="../../../assets/images/chama-logo.png" alt="Logo">
    </div>

        


    <!-- Menu direito -->
    <ul class="menu-right">
      <li><a routerLink="/cadastro" href="">Entrar/Registrar</a></li>
      <li><a routerLink="/cadastro" href="">🛒 Meus pedidos</a></li>
      
    </ul>


  </nav>

     



</div>
