<app-menu-info></app-menu-info>

<div class="container-header">
  <nav class="navbar">
    <!-- Menu esquerdo -->
    <ul class="menu-left">
      <li><a (click)="toBeneficios()">Benefícios</a></li>
      <li><a (click)="toFuncionalidades()">Funcionalidades</a></li>
      <li><a (click)="toPlanos()">Planos</a></li>
    </ul>


    <!-- Logo -->
    <div class="logo">
      <img src="../../../assets/images/chama-logo.png" alt="Logo">
    </div>

        <ul>
            <li><a routerLink="" href="">Home</a></li>
            <li><a routerLink="/cardapio">Cardapio</a></li>
            <li><a href="">Contato</a></li>
        </ul>


    <!-- Menu direito -->
    <ul class="menu-right">
      <li><a (click)="toFeedbacks()">Feedbacks</a></li>
      <li><a routerLink="/cadastro" href="">Registrar</a></li>
      <li><a (click)="toRegister()">Entrar</a></li>
    </ul>


  </nav>

        <ul>
            <li><a routerLink="/cadastro" href="">Entrar/Registrar</a></li>
          
            <li><a href="">Meus Pedidos</a></li>
        </ul>



</div>
