/* Estilos base */
.container-header {
    color: #fffff0;
  }
  #desktop{
    display: block;
  }
  #mobile{
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-left,
  .menu-right {
    display: flex;
    gap: 1.5rem;
  }
  
  .menu-left li a,
  .menu-right li a {
    color: #fffff0;
    text-decoration: none;
    font-size: 18px;
  }
  
  .logo img {
    max-width: 120px;
  }
  

  #especial {
    background: linear-gradient(90deg, var(--fade-color1), var(--fade-color2)67%);
    border-radius: 20px;
    padding: 4px 20px;
    transition: 0.5s;
  
  }
  
  #especial:hover{
    cursor: pointer;
    filter: brightness(1.2)
  }
  /* Menu Mobile */
  .mobile-menu-icon {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .mobile-menu {
    display: none;
    position: absolute; /* Faz o menu flutuar acima do conteúdo */
  top: 28%;
  left: 0;
  width: 100%;
  background-color: #1E1E1C;
  z-index: 1; /* Garante que o menu fique acima de outros elementos */
  padding: 1rem 0;}
  
  /* Quando o menu está aberto */
  .mobile-menu.open {
    display: block;
    margin-top: 0; /* Remove o espaço adicional acima do menu */
  }
  
  /* Links do menu mobile */
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Reduz o espaçamento entre os itens */
    text-align: center;
  }
  
  .mobile-menu ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
  }
  
  /* Responsividade */
  @media screen and (max-width: 750px) {
    .menu-left,
    .menu-right {
      display: none; /* Esconde os menus desktop */
    }
  
    .mobile-menu-icon {
      display: block; /* Exibe o botão do menu mobile */
    }
  
    .mobile-menu {
      display: none;
    }
  
    .mobile-menu.open {
      display: block;
      margin-top: 0; /* Remove qualquer margem desnecessária acima do menu */
    }
  
    .logo img {
      max-width: 100px; /* Ajusta a logo para telas menores */
    }
  }
  
  @media screen and (min-width: 750px) {
    .mobile-menu {
      display: none;
    }
  
    .menu-left,
    .menu-right {
      display: flex; /* Exibe os menus no desktop */
    }
  }
  