/* Container geral */
.especialidade-container {
  display: flex;
  background-color: #1E1E1C;
  color: #fff;
  height: 100%; /* Ajuste conforme necessário */
}

.especialidade-content {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.especialidade-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.especialidade-description {
  font-size: 1em;
  margin-bottom: 30px;
}

.order-button {
  background-color: #c40d0d;
  color: #fff;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  align-self: flex-start;
}

.especialidade-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.especialidade-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Letreiro */
.letreiro {
  background-color: #440E00;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 3.5em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.letreiro span {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Galeria de imagens */
.galeria-container {
  display: flex;
  justify-content: space-between;
  background-color: #1E1E1C;
  padding: 20px;
}

.galeria-container img {
  width: 18%; /* Cada imagem ocupa 18% para caber 5 imagens */
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.galeria-container img:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}
