<div class="especialidade-container">
  <div class="especialidade-content">
    <h2 class="especialidade-title">A ESPECIALIDADE <br> DA CASA</h2>
    <p class="especialidade-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
    <button class="order-button">PEÇA AGORA</button>
  </div>
  <div class="especialidade-image">
    <img src="../../../assets/images/especialidade.png" alt="Especialidade da Casa">
  </div>
</div>

<!-- Letreiro -->


<!-- Imagens -->
<div class="galeria-container">
  <img src="../../../assets/images/pizza1.png" alt="Pizza 1">
  <img src="../../../assets/images/pizza2.png" alt="Pizza 2">
  <img src="../../../assets/images/pizza3.png" alt="Pizza 3">
  <img src="../../../assets/images/pizza4.png" alt="Pizza 4">
  <img src="../../../assets/images/pizza5.png" alt="Pizza 5">
</div>

<div class="letreiro">
  <span>#CHAMA DA PAZ #CHAMA DA PAZ #CHAMA DA PAZ #CHAMA DA PAZ</span>
</div>