.especialidade-container {
  display: flex;
  background-color: #1E1E1C;
  color: #fff;
  height: 100%; /* Ajuste conforme necessário */
}

.especialidade-content {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.especialidade-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.especialidade-description {
  font-size: 1em;
  margin-bottom: 30px;
}

.order-button {
  background-color: #c40d0d;
  color: #fff;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  align-self: flex-start;
}

.especialidade-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.especialidade-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  
}
