<div class="letreiro">
    <span>#CHAMA DA PAZ #CHAMA DA PAZ #CHAMA DA PAZ #CHAMA DA PAZ #CHAMA DA PAZ</span>
  </div>
  <div class="monte-pedido">
    <div class="banner">
      <h2 class="banner-title">MONTE SEU PEDIDO</h2>
      <p class="banner-text">Escolha seus ingredientes favoritos e monte a pizza do seu jeito!</p>
      <button class="order-button">FAZER PEDIDO</button>
    </div>
    <div class="images-container">
      <img src="assets/images/pizza1.png" alt="Pizza 1">
      <img src="assets/images/pizza2.png" alt="Pizza 2">
    </div>
  </div>
  