<div class="home-pedidos">
    <div class="title-pedidos">
        <img src="../../../assets/images/icon-caderno.png" alt="">
        <h1>MEU  PEDIDO</h1>
    </div>

    <div class="SemItem">

        <div class="sem-pedido" *ngIf="carrinho.length == 0">
            <h2>SEU PEDIDO ESTA VAZIO</h2>
            <p>ADICIONE ITENS</p>
        </div>

  

    <div class="comItem" *ngIf="carrinho.length > 0" >
            <div class="pedidos" >
                <app-itens-carrrinho
                *ngFor="let item of carrinho"
                [quantidade]="item.quantidade"
                [precoItem]="item.preco"
                [nomeItem]="item.nome"></app-itens-carrrinho>
            </div>
            
            

        

            <div 
                class="container_finalizar-pedido">
                
                <div class="total-preco">
                    <p>VALOR TOTAL R$ teste</p>
                </div>

                <div class="butao-finalizar">
                    <button>Finalizar pedido</button>
                </div>
            </div>
        </div>
    </div>

  
</div>
