.home-pedidos{
    background-color: #D9D9D9;
     height: 100%;
     border-bottom-right-radius: 40px;
     border:1px solid black
}

.title-pedidos{
    display: flex;
    padding: 5px;
    flex-direction: row;
    background-color: #FFCF00;
    align-items: center;
    margin-right: 2em;
    font-family: "Oleo Script", system-ui;
    font-weight: bold;
    font-style: normal;
}

.title-pedidos h1{
   margin-left: 0.5em;
   font-size: 40px;
}

.title-pedidos img{
    width: 2.5em;
    height: 2.5em;
    margin-left: 0.5em;
}

.SemItem{
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content:center;
   
    
}
.sem-pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   max-height: 80%;
    
}





.SemItem  h2{
    font-size: 30px ;
}

.SemItem  p{
    font-size: 20px ;
}


.comItem{
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
}

.container_finalizar-pedido{
    position: relative;
    bottom: -30px;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    align-items: center;
}

.pedidos{
    overflow-y: scroll;
    height: 21em;
}

.total-preco{
    display: flex;
    background-color: bisque;
    width: 100%;
    padding: 1em;
    justify-content: center;
}

.total-preco p{
   
   font-size: 30px;
   font-weight: bold;
}

.butao-finalizar {
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    justify-content: center;

}

.butao-finalizar button{
 
    cursor: pointer;
    padding: 1em 2em;
}
