<div class="home-pedidos">
    <div class="title-pedidos">
        <img src="../../../assets/images/icon-caderno.png" alt="">
        <h1>MEU  PEDIDO</h1>
    </div>

    <div class="item">
        <!-- <h2>SEU PEDIDO ESTA VAZIO</h2>
        <p>ADICIONE ITENS</p> -->
        

        <app-itens-carrrinho
            *ngFor="let item of carrinho"
            [quantidade]="item.quantidade"
            [precoItem]="item.preco"
            [nomeItem]="item.nome"
           
        
           
        ></app-itens-carrrinho>
        
    </div>
</div>
