.home-pedidos{
    background-color: #D9D9D9;
     height: 100%;
     border-bottom-right-radius: 40px;
     border:1px solid black
}

.title-pedidos{
    display: flex;
    padding: 5px;
    flex-direction: row;
    background-color: #FFCF00;
    align-items: center;
    margin-right: 2em;
    font-family: "Oleo Script", system-ui;
    font-weight: bold;
    font-style: normal;
}

.title-pedidos h1{
   margin-left: 0.5em;
   font-size: 40px;
}

.title-pedidos img{
    width: 2.5em;
    height: 2.5em;
    margin-left: 0.5em;
}

.item{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: 78%;
}



.item  h2{
    font-size: 30px ;
}

.item  p{
    font-size: 20px ;
}