<div class="container-rodape">
    <div class="contatos">
      <h2>Compre pelo telefone</h2>
      <p>(98) 97016-6694</p>
      <p>contatopastelchamadapaz@gmail.com</p>
     
    </div>
  
    <div class="social">
      <img src="../../../assets/images/chama-logo.png" alt="Logo" class="logo">
      <div class="redes">
        <img src="../../../assets/images/twitter.png" alt="Twitter">
        <img src="../../../assets/images/instagram-logo2.png" alt="Instagram">
        <img src="../../../assets/images/tiktok.png" alt="TikTok">
      </div>
    </div>
  
    <div class="atendimento">
      <h2>Atendimento</h2>
      <p>Unidade Anhanguera (presencial) Seg a Sex das 18:00 ate 23:00 Horas</p>
      <p>Unidade Cohab (presencial) Seg a Sex das 8:00 ate as 20:00 horas
      </p>
     
      <p>Unidade Aurora (Delivery) Terça a Domingo das 17:00 ate as 23:30 horas</p>
    </div>
  </div>
  
  <div class="copyright">
    <p>Copyright Seeds Tecnologia</p>
  </div>
  