<div class="container-rodape">
    <div class="contatos">
      <h2>Compre pelo telefone</h2>
      <p>+012-356-5678</p>
      <p>PizzaLicious@contact.com</p>
      <p>3983 lorem ipsum street, Pellentesque, CA, USA</p>
    </div>
  
    <div class="social">
      <img src="../../../assets/images/chama-logo.png" alt="Logo" class="logo">
      <div class="redes">
        <img src="../../../assets/images/twitter.png" alt="Twitter">
        <img src="../../../assets/images/instagram-logo2.png" alt="Instagram">
        <img src="../../../assets/images/tiktok.png" alt="TikTok">
      </div>
    </div>
  
    <div class="atendimento">
      <h2>Atendimento</h2>
      <p>Atendimento de Segunda a Sábado das 18:00 às 23:00 horas</p>
      <p>Avenida Isabel Cafeteira, 75, Vila Isabel Cafeteira, São Luís-MA</p>
    </div>
  </div>
  
  <div class="copyright">
    <p>Copyright Seeds Tecnologia</p>
  </div>
  