.container-rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contatos p{
    margin-top: 0.5em;
}

.social{
    display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   margin: 2em 5em;
  

}
.social img{
    height: 5.5em;
    width: 5.5em;
    margin-bottom: 1em;
}

.atendimento{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.atendimento p{
    margin-top: 0.5em; 

}

.copyright{
    background-color: #FFFFFF;
    text-align: center;
    border-top: 1px solid black;
    
}


.copyright p{
   margin: 1em;
    
}