<div class="container-rodape">
    <div class="contatos">
        <h2>Compre pelo telefone</h2>
        <p>+012356565</p>
        <p>emailgmail.com</p>
        <p>rua borboleta psicodelica, bairro qualquer, 1234, SLZ</p>
    </div>

    <div class="social">
        <img src="../../../assets/images/chama-logo.png" alt="logo">
        <div class="redes">
            <img src="" alt="X">
            <img src="" alt="instagram">
            <img src="" alt="tiktok">

        </div>
    </div>

    <div class="atendimento">
        <h2>Atendimento</h2>
        <p>Atendimento de Segunda a Sabado das 18:00 as 23:00 horas</p>

    </div>
</div>

<div class="copyright">

    <p>copyright</p>

</div>
