<div class="campo-login">

    <div class="texto-login">
         <h2>Faça seu Login</h2>
         <p>Ainda não tem conta? <a routerLink="/cadastro">Cadastre-se</a></p>
    </div>

    <div class="form-login">
        <input class="input-text" type="email" placeholder="Email">
    
        <div class="olho-magico">
            <input 
              [type]="isPasswordVisible1 ? 'text' : 'password'" 
              id="password" 
              placeholder="Senha" 
             
            >
            <button 
              type="button" 
              (click)="togglePasswordVisibility()" 
              >
            </button>
          </div>

        <button>Login</button>
    </div>

   


</div>
