<div class="campo-cadastro">

    <div class="texto-cadastro">
         <h2>Faça seu Cadastro</h2>
         <p>Ja tem uma conta? <a routerLink="/login">Faça login</a></p>
    </div>

    <div class="form-cadastro">
        <input [(ngModel)]="usuario.nome" class="input-text" type="text" placeholder="Nome" >
        <input [(ngModel)]="usuario.sobrenome" class="input-text" type="text" placeholder="Sobrenome">
        <input [(ngModel)]="usuario.telefone" class="input-text" type="text" placeholder="Telefone">

        <input [(ngModel)]="usuario.email" class="input-text" type="email" placeholder="Email">
        <div class="olho-magico">
            <input 
            [(ngModel)]="usuario.senha"
              [type]="isPasswordVisible1 ? 'text' : 'password'" 
             
              placeholder="Senha" 
             
            >
            <button 
              type="button" 
              (click)="togglePasswordVisibility()" 
              >
            </button>
          </div>
          <div class="olho-magico">
            <input 
              [type]="isPasswordVisible2 ? 'text' : 'password'" 
            
              placeholder="Confirmar Senha" 
             
            >
            <button 
              type="button" 
              (click)="togglePasswordVisibility2()" 
              >
            </button>
          </div>

        
        

        <button (click)="onSubmit()">Cadastrar</button>
    </div>

   


</div>
