<div class="campo-cadastro">

    <div class="texto-cadastro">
         <h2>Faça seu Cadastro</h2>
         <p>Ja tem uma conta? <a routerLink="/login">Faça login</a></p>
    </div>

    <div class="form-cadastro">
        <input class="input-text" type="text" placeholder="Nome">
        <input class="input-text" type="text" placeholder="Sobrenome">
        <input class="input-text" type="email" placeholder="Email">
        <input class="input-text" type="password" placeholder="Senha">
        <input class="input-text" type="password" placeholder="Confirmar Senha" >

        <button>Cadastrar</button>
    </div>

   


</div>
