.home-acesso-usuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.coluna-login-pedidos{
    display: flex;
    flex-direction: column;
}
.pedidos{
    height: 100%;
}