.navbar{
    background-color: #1E1E1C;
}


.cardapio{
    background-color: #1E1E1C;
    padding: 3em;
}
.cardapio h2{
    font-size: 35px;
    color: yellow;
    margin-bottom: 2em;
    font-family: "Oleo Script", system-ui;
    font-weight: bold;
    font-style: normal;
}
   

