<div class="component_cardapio">
    <div class="navbar">
        <app-header></app-header>
        <app-menu-big-card></app-menu-big-card>
    </div>

   
    <div class="cardapio "   >

        <div class="title_categoria">
            <h1>TESTE</h1>
        </div>

        <div *ngFor="let categoria of categorias.categorias" class="itens_cardapio keen-slider" #sliderRef>

            <app-itens-cardapio
                class="keen-slider__slide"
                *ngFor="let item of categoria.itens"
                [nomeItem]="item.nome"
                [descricao]="item.descricao"
                [preco]="item.preco">
      
        </app-itens-cardapio>
           
        </div>

    </div>
    

</div>
