<div class="campo-login">

    <div class="texto-login">
        <img src="../../../assets/images/icon-chave.png" alt="">
         <h2>FAZER LOGIN</h2>
    </div>

    <div class="form-login">

      <div class="fundo-input">

        <label for="">EMAIL</label>
        <input 
        [(ngModel)]="usuarioLogin.email"
          class="input-text" type="email" placeholder="DIGITE SEU EMAIL">

      </div>

      <div class="fundo-input">


        <label for="">SENHA</label>
        <input class="input-text"
          [type]="isPasswordVisible1 ? 'text' : 'password'" 
          id="password" 
          placeholder="Senha" 
          [(ngModel)]="usuarioLogin.senha"
          
          >
      </div>
      


        
        

          <div class="button">

            <button (click)="loginUsuario()">ENTRAR</button>
            <a href="">ESQUECEU A SENHA</a>
          </div>

    </div>

   


  </div>
