<div class="campo-login">

    <div class="texto-login">
        <img src="../../../assets/images/icon-chave.png" alt="">
         <h2>FAZER LOGIN</h2>
    </div>

    <div class="form-login">
        <label for="">EMAIL</label>
        <input class="input-text" type="email" placeholder="DIGITE SEU EMAIL">

        <label for="">SENHA</label>
        <div class="olho-magico">

          
            <input 
              [type]="isPasswordVisible1 ? 'text' : 'password'" 
              id="password" 
              placeholder="Senha" 
             
            >
            <button 
              type="button" 
              (click)="togglePasswordVisibility()" 
              >
            </button>
          </div>

          <div class="button">

            <button>ENTRAR</button>
            <a href="">ESQUECEU A SENHA</a>
          </div>

    </div>

   


</div>
