.campo-login{
    display: flex;
    flex-direction: column;
   
    margin-top: 5em;
    width: 35em;
    background-color: #D9D9D9;
    border-top-right-radius: 40px;


  
}
.texto-login {
    margin-top: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #FFCF00;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    
}
.texto-login img{
    
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
}

.texto-login h2{
    margin-left: 0.5em;
    font-size: 40px;

    font-family: "Oleo Script", system-ui;
    font-weight: bold;
    font-style: normal;
}
.texto-login p{
    font-size: 25px;
}


.form-login{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-top: 2em;
   
   
   
}

.input-text{
   
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #CAC6C6;
    font-size:  20px;
}

.input-text:focus-visible{
   
    outline: none; 
  
}

.button button{
    padding: 0.5em 1.5em;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffcf00;
    border: none;
    margin-top: 1em;
    margin-right: 1.5em;
}

.button a{
    color: black;
    text-decoration: none;
}

.button a:hover{
    color: blue;
    transition: 0.2s;
}





.fundo-input{
    display: flex;
    flex-direction: column;
    background-color: #CAC6C6;
    padding-left: 1em;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    
}



.fundo-input label{
    margin-bottom: 10px;
    font-weight: bold;
    
 }
