.campo-login{
    display: flex;
    flex-direction: column;
   
    margin-top: 5em;
    
    border: 1px solid black;

  
}
.texto-login {
    background-color: #FFCF00;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.texto-login h2{
    margin-left: 0.5em;
    font-size: 35px;
}
.texto-login p{
    font-size: 25px;
}


.form-login{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-top: 2em;
   
   
   
}

.input-text{
    padding: 0.5em;
    margin-bottom: 1em;
    font-size: 20px;
    border-radius: 5px;
    width: 16em;
}

.form-login button{
    padding: 1em;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}


.olho-magico{
    border: 1px solid black;
    margin-bottom: 1em;
    display: flex;
    border-radius: 10px;
  
}


.olho-magico input {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
   padding: 0.5em;
    width: 100%;
    font-size: 20px;
    margin-right: none;
    border: none;
    border-radius: 0;
}


.olho-magico input:focus {
    outline: none;
   
}




.olho-magico button{ 
    border: none;
 
    border-radius: 0;
}
