
.container_ger-cardapio{

    padding: 3em;
    
  
   
}
.categoria{
    padding: 1em;
}

.nova_categoria button{
    padding: 1em;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;


}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    padding: 1em;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;

}

.botoes button{
    padding: 1em;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.tabela{
    border: 1px solid black;
    width: 100%;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 20px;
}
.imgItem {
    width: 5em;
}

.imgItem img{
    width: 4em;
    height: 4em;
}



.switch {

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

} 

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 35px;
  height: 20px;
  background: #d0d0d0;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {

 content: "";
 position: absolute;
 top: 4px;
 left: 4px;
 width: 12px;
 height: 12px;
 background: #5e5959;
 border-radius: 90px;
 transition: 0.3s;

}

input:checked + label {
 
  background: #00c3ff;

}

input:checked + label:after {

  background: #ffffff;  
  left: calc(100% - 5px);
  transform: translateX(-100%);

}
