<div class="campo-cadastro">

    <div class="texto-cadastro">
        <img src="../../../assets/images/icon-user.png" alt="icone usuario">
         <h1>AINDA  NÃO SOU CADASTRADO </h1>
    </div>

    <div class="form-cadastro">

      <div class="linha-juncao"> 
         <div class="fundo-input" [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('nome') }">
          <label for="">NOME COMPLETO *</label>
          <input 
          [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('nome') }"
          [(ngModel)]="usuario.nome" class="input-text" type="text" placeholder="DIGITE O SEU NOME" >
        </div>
      </div>

     

      <div class="linha-juncao">

        <div class="fundo-input"
        [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('dataNascimento') }"
        >
          <label for="">DATA DE NASCIMENTO *</label>
          <input
            [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('dataNascimento') }"
            autofocus
            inputmode="numeric"
            mask="00/00/0000"
            [(ngModel)]="usuario.dataNascimento" class="input-text" type="text" placeholder="00/00/0000">
  
        </div>
  
        <div class="fundo-input "
        [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('sexo') }"
        >
          <label for="">SEXO *</label>
          <select  [(ngModel)]="usuario.sexo" class="input-text" required="true"
          [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('sexo') }"
        
          >
            <!-- <option selected >-- selecione seu sexo--</option> -->
            <option  value="Masc">Masculino</option>
            <option value="Femi">Feminino</option>
            <option value="Ind">Prefiro Não Informar</option>
          </select>
  
        </div>
  
        <div class="fundo-input">
          <label for="">CPF </label>
          <input
          mask="000.000.000-00"
          [(ngModel)]="usuario.cpf" class="input-text" type="text" placeholder="000.000.000-00"
          
          
          >
  
        </div>
      </div>

      <div class="linha-juncao"> 

        <div class="fundo-input"
        [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('telefone') }"
        >
          <label for="">TELEFONE/CELULAR *</label>
          <input
            [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('telefone') }"
            mask="(00) 0 0000-0000"
            [(ngModel)]="usuario.telefone" class="input-text" type="text" placeholder="Telefone">
  
        </div>
  
        <div class="fundo-input"
        [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('email') }">
           <label for="">EMAIL*</label>
          <input 
          [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('email') }"
          [(ngModel)]="usuario.email" class="input-text" type="email" placeholder="Email">
  
        </div>

      </div>
      
      <div class="linha-juncao"> 
        <div class="fundo-input"
        [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('senha') }"
        >

          <label for="">SENHA *</label>
          <input class="input-text"
          [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('senha') }"
            [(ngModel)]="usuario.senha"
            placeholder="Senha"    
            type="password"      
          >
          
        </div>
        <div class="fundo-input"
        [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('confirmarSenha') }"
        >

          <label for="">CONFIRME SUA SENHA *</label>
          <input class="input-text"
          [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('confirmarSenha') }"
          [(ngModel)]="usuario.confirmarSenha"
          type="password" 
            placeholder="Senha">
                
        </div>

      </div>
    
     
        
        

          <div class="texto-cadastro">
            <h1>ENDEREÇO </h1>
          </div>

          <div class="linha-juncao">  

            <div class="fundo-input"
            [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('cidade') }"

            >
              <label for="">CIDADE/UF *</label>
              <input 
              [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('cidade') }"
              [(ngModel)]="usuario.cidade" class="input-text" type="text" placeholder="SÃO LUIS/MA">

            </div>

            <div class="fundo-input"
            [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('endereco') }"
            >
              <label for="">ENDEREÇO *</label>
              <input 
              [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('endereco') }"
              [(ngModel)]="usuario.endereco" class="input-text" type="text" placeholder="DIGITE O ENDEREÇO DE ENTREGA">
            </div>
          </div>


          <div class="linha-juncao">  

          
            <div class="fundo-input"
            [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('numero') }"
            >
  
              <label for="">NUMERO*</label>
              <input 
              [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('numero') }"
                inputmode="numeric"
                [(ngModel)]="usuario.numero" class="input-text" type="text" placeholder="000">
  
            </div>
  
            <div class="fundo-input">
  
              <label for="">APTO/COMPLEMENTO</label>
              <input [(ngModel)]="usuario.complemento" class="input-text" type="text" placeholder="APTO/QUADRA">
  
            </div>
  
  
            <div class="fundo-input"
            [ngClass]="{ 'input-empty-caixa': showErrors && isFieldEmpty('bairro') }"
            >
  
    
              <label for="">BAIRRO*</label>
              <input 
              [ngClass]="{ 'input-empty': showErrors && isFieldEmpty('bairro') }"
              [(ngModel)]="usuario.bairro" class="input-text" type="text" placeholder="SELECIONE SEU BAIRRO">
  
  
            </div>  
          </div>

          



          



        <button class="confirm-button" (click)="onSubmit()">CADASTRAR E FINALIZAR</button>
    </div>



</div>
