<form class="campo-cadastro">

    <div class="texto-cadastro">
        <img src="../../../assets/images/icon-user.png" alt="icone usuario">
         <h1>AINDA  NÃO SOU CADASTRADO </h1>
    </div>

    <div class="form-cadastro">

      <div class="linha-juncao"> 
         <div class="fundo-input">
          <label for="">NOME COMPLETO*</label>
          <input [(ngModel)]="usuario.nome" class="input-text" type="text" placeholder="DIGITE O SEU NOME" >
        </div>
      </div>

     

      <div class="linha-juncao">

        <div class="fundo-input">
          <label for="">DATA DE NASCIMENTO*</label>
          <input class="input-text" type="text" placeholder="">
  
        </div>
  
        <div class="fundo-input">
          <label for="">SEXO</label>
          <input class="input-text" type="text" placeholder="SELECIONE SE SEXO">
  
        </div>
  
        <div class="fundo-input">
          <label for="">CPF*</label>
          <input class="input-text" type="text" placeholder="000.000.000-00">
  
        </div>
      </div>

      <div class="linha-juncao"> 

        <div class="fundo-input">
          <label for="">TELEFONE/CELULAR*</label>
          <input [(ngModel)]="usuario.telefone" class="input-text" type="text" placeholder="Telefone">
  
        </div>
  
        <div class="fundo-input">
           <label for="">EMAIL*</label>
          <input [(ngModel)]="usuario.email" class="input-text" type="email" placeholder="Email">
  
        </div>

      </div>
      
      <div class="linha-juncao"> 
        <div class="fundo-input">

          <label for="">SENHA *</label>
          <input class="input-text"
          [(ngModel)]="usuario.senha"
            placeholder="Senha"          
          >
          
        </div>
        <div class="fundo-input">

          <label for="">CONFIRME SUA SENHA *</label>
          <input class="input-text"
          [(ngModel)]="usuario.senha"
            placeholder="Senha">
                
        </div>

      </div>
    
     
        
        

          <div class="texto-cadastro">
            <h1>ENDEREÇO </h1>
          </div>

          <div class="linha-juncao">  
            <div class="fundo-input">
              <label for="">CIDADE/UF*</label>
              <input class="input-text" type="text" placeholder="SÃO LUIS/MA">

            </div>

            <div class="fundo-input">
              <label for="">ENDEREÇO*</label>
              <input class="input-text" type="text" placeholder="DIGITE O ENDEREÇO DE ENTREGA">
            </div>
          </div>


          <div class="linha-juncao">  

          
            <div class="fundo-input">
  
              <label for="">NUMERO*</label>
              <input class="input-text" type="text" placeholder="000">
  
            </div>
  
            <div class="fundo-input">
  
              <label for="">APTO/COMPLEMENTO*</label>
              <input class="input-text" type="text" placeholder="APTO/QUADRA">
  
            </div>
  
  
            <div class="fundo-input">
  
    
              <label for="">BAIRRO*</label>
              <input class="input-text" type="text" placeholder="SELECIONE SEU BAIRRO">
  
  
            </div>  
          </div>

          



          



        <button class="confirm-button" (click)="onSubmit()">CADASTRAR E FINALIZAR</button>
    </div>



</form>
