.campo-cadastro{
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin-top: 5em;
    border: 1px solid black;
}

.texto-cadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto-cadastro h1{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: start;
    margin-left: 0.5em;
}


.form-cadastro{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
   
}

.input-text{
   
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #CAC6C6;
}


.input-text:focus-visible{
   
    outline: none; 
  
}



.fundo-input{
    display: flex;
    flex-direction: column;
    background-color: #CAC6C6;
    padding-left: 1em;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 100%;
}



.fundo-input label{
    margin-bottom: 10px;
    font-weight: bold;
    
 }

 .linha-juncao{
    display: flex;
   
 }


.form-cadastro button{
    padding: 1em;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.confirm-button:hover{
    
    background-color: orange;

    font-size: 21px;
    color: white;
    transition: 0.1s;
}


/* Ajustes para o botão dentro do campo */







