.campo-cadastro{
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin-top: 5em;
    border: 1px solid black;
}

.texto-cadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto-cadastro h1{
    display: flex;
    flex-direction: row;
    font-size: 35px;
    text-align: start;
    justify-content: center;
    font-family: "Oleo Script", system-ui;
    font-weight: bold;
    font-style: normal;

}

.texto-cadastro img{
    width: 2.8em;
    height: 2.8em;
    margin-right: 1em;

}


.form-cadastro{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
   
}

.input-text{
   
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #CAC6C6;
    font-size:  20px;
}

/* tira o border do input selecionado */
.input-text:focus-visible{
   
    outline: none; 
  
}



.fundo-input{
    display: flex;
    flex-direction: column;
    background-color: #CAC6C6;
    padding-left: 1em;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 100%;
}



.fundo-input label{
    margin-bottom: 10px;
    font-weight: bold;
    
 }

 .linha-juncao{
    display: flex;
   
 }


.confirm-button{
    margin-top: 0.5em;
    background-color: #ffcf00;
    padding: 0.2em;
    font-size: 55px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-family: "Oleo Script", system-ui;
    font-weight: bold;
    font-style: normal;
}



/* Ajustes para o botão dentro do campo */







