<div class="menu-container">
    <div class="menu">

 
    <app-menu-info></app-menu-info>
</div>
        <div>
            <app-big-card></app-big-card>
        </div>
    

        <div>
            <app-especialidades>

            </app-especialidades>
        </div>
        <div>
            <app-sabores>
                
            </app-sabores>
        </div>
        <div>
            <!-- <app-pedido></app-pedido> -->
        </div>
        <div>
            <app-cardapio></app-cardapio>
        </div>

        <div>
            <app-da-casa></app-da-casa>
        </div>
        <div>
            <app-rodape></app-rodape>
        </div>
  </div>
  