.menu {
    margin-bottom: 20px; /* Adiciona espaçamento abaixo do app-menu-info */
  }
  
  .reserva{
    background-color: #222;
    padding: 2em;
    display: flex;
    justify-content: center;
  }