<div class="menu-container">
    <div class="menu">
        <app-header></app-header>
        <app-menu-big-card></app-menu-big-card>
    </div>

  <!-- <div class="reserva">

        <app-reservar></app-reservar>
    </div>--> 
       
    

        <div>
            <app-especialidades>

            </app-especialidades>
        </div>
        <div>
            <app-sabores>
                
            </app-sabores>
        </div>
        <div>
             <app-monte> </app-monte>
        </div>
       <!--  -->  <div>
            <app-cardapio></app-cardapio>
        </div>

        <div>
            <app-mais-pedidos></app-mais-pedidos>
        </div>
        <div>
            <app-da-casa></app-da-casa>
        </div>
        
  </div>
  