.container_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

.container_item img{
    width: 15em;
}
.container_item h2{
   color: yellow;
   margin-bottom: 0.5em;
}
.container_item p{
    color: white;
    margin-bottom: 0.5em;
 }
 
 .container_item a{
    color: yellow;
    font-size: 20px;
    text-decoration: none;
 }
 

