<div class="flavors">
    <h2 class="title">PRINCIPAIS SABORES</h2>
    <div class="flavors-list">
      <div class="flavor-item">
        <img src="../../../assets/images/sabores1.png" alt="Pepperoni">
        <h3>Pepperoni</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button>+ Add To Cart</button>
      </div>
      <div class="flavor-item">
        <img src="../../../assets/images/sabores2.png" alt="Veggie Pizza">
        <h3>Veggie Pizza</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button>+ Add To Cart</button>
      </div>
      <div class="flavor-item">
        <img src="../../../assets/images/sabores3.png" alt="Margherita">
        <h3>Margherita</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button>+ Add To Cart</button>
      </div>
    </div>
  </div>
  