<div class="flavors">
    <h2 class="title">PRINCIPAIS SABORES</h2>
    <div class="flavors-list">
      <div class="flavor-item">
        <img src="../../../assets/images/sabores1.png" alt="Pepperoni">
        <h3>Queijo</h3>
        <p>Uma explosão de cremosidade com o sabor irresistível do queijo derretido!</p>
        <button>+ Add To Cart</button>
      </div>
      <div class="flavor-item">
        <img src="../../../assets/images/sabores2.png" alt="Veggie Pizza">
        <h3>Pizza</h3>
        <p>O sabor clássico que todo mundo ama, recheado com queijo, presunto e um toque especial de orégano!</p>
        <button>+ Add To Cart</button>
      </div>
      <div class="flavor-item">
        <img src="../../../assets/images/sabores3.png" alt="Margherita">
        <h3>Bacon com Queijo</h3>
        <p>Queijo derretido e bacon crocante em uma combinação irresistível!</p>
        <button>+ Add To Cart</button>
      </div>
    </div>
  </div>
  