<div class="container_pedidos">
    <div  class="pedidos_container">

        <div class="pedido" 
            *ngFor="let pedido of pedidos; let i = index"  
            (click)="dataPedidoSelecionado(pedido)"
            [class.selected]="selectedIndex === i"          
            (click)="selecionarDiv(i)"
        
            >

            <div class="status">
                <h2>{{pedido.statusPedido}}</h2>

                <p>{{pedido.idPedido}}</p>
            </div>

            <div class="informacoes">
                <p>{{pedido.usuario.nome}}</p>
                <p>R$ {{pedido.valorTotal | number: '1.2-2' }}</p>
                <p>{{pedido.dataPedido | date:'dd/MM/yyyy' }}</p>
            </div>
        </div>

    </div>

    <div class="detalhes_pedido" *ngIf="mostrarDetalhesPedido">

        <div class="barra_superior">

            <div class="info_cliente">
                <p>{{pedidoSelecionado.usuario.nome}}</p>
                <p>{{pedidoSelecionado.usuario.telefone}}</p>
            </div>

            <p>{{pedidoSelecionado.idPedido}}</p>

            <div class="data">
                <p>{{pedidoSelecionado.dataPedido | date:'dd/MM/yyyy'}}</p>
                <p>{{pedidoSelecionado.dataPedido | date:'HH:mm': 'America/Sao_Paulo'}}</p>
            </div>

            <div class="button-iniciar">
                <button>Iniciar Pedido</button>
            </div>

        </div>

        <div class="local">
            <div class="endereco">
                <h3>Endereço </h3>
                <p>{{pedidoSelecionado.endereco}}</p>
            </div>

            <div class="endereco">
                <h3>Bairro </h3>
                <p>{{pedidoSelecionado.bairro}}</p>
            </div>

            <div class="endereco">
                <h3>Numero Residencia </h3>
                <p>{{pedidoSelecionado.numero}}</p>
            </div>

            <div class="endereco">
                <h3>Complemento </h3>
                <p>{{pedidoSelecionado.complemento}}</p>
            </div>
           

            
        </div>


        <div class="forma_pagamento">
            <h3>Forma de pagamento</h3>
            <p><span class="titulos">Forma de Pagamento:</span> {{pedidoSelecionado.formaPagamento}}</p>
            <p *ngIf="pedidoSelecionado.formaPagamento == 'Dinheiro'"><span class="titulos">Troco para:</span> R$ {{pedidoSelecionado.troco | number: '1.2-2'}}</p>
        </div>


        <div class="pedidos" >
            <h2>Pedidos</h2>

            <div class="item"  *ngFor="let item of pedidoSelecionado.itensPedido">
                <p><span class="titulos">Item:</span>  {{item.nome}}</p>
                <p><span class="titulos">Quantidade:</span>  {{item.quantidade}}</p>
                <p><span class="titulos">Preço Unitaria:</span> R$ {{item.precoUnitario | number: '1.2-2'}}</p>
                <p> <span class="titulos">Preço Total:</span> R$ {{item.precoTotal | number: '1.2-2'}}</p>
            </div>

        </div>

        <div class="barra_finalizacao">
            <Button id="cancelar">Cancelar Pedido</Button>
            <Button id="enviar">Enviar Pedido</Button>
        </div>



      


    </div>

</div>