<div class="itens_conteiner">
    <div class="pedido">
        <img class="imgPedido" src="{{urlImagem}}" alt="img">
        <div class="detalhe_pedido">
            <h2>{{nomeItem}}</h2>

        </div>
        <div class="remover-item">
            <button (click)="removerItemCarrinho()" ><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABCElEQVR4nNWUMWoCYRCFv8Y0YpMcIQYEsQy5gR5BrRKEgOIJTE4Qj6AB0+sRNDfIFgGx0/QKpkgwRWDDwissFGd+s5AMPNjie292dv/54Y9UVkqlCsArMANKvx1+A3wCsfQB3AJtIAIGoZMlpqet4IEU79AUKFqDz/aExA6dHmqyPiL83TJFJPjSOrbYxPNigUeCq44GNXmGFrgruONocCfPgwVuCe45GvTlaVrgiuCxo8FEnrIFvhA8dzRYyHNugTPAt3Ti5JNnU73pjfIpTcyz45tWAv4Zj45T0Qo4ddw7znU3YG+oOzZzFLD5XMkUpXR3kQO+HLfoRh5XNYCVIXwJXHvD/0/9AMpTfTUFSV+XAAAAAElFTkSuQmCC" alt="full-trash"></button>
        </div>
        

    </div>

    <div class="container_quantidade">
        <div class="quantidade_button">
            <button (click)="remover()" id="menos">-</button>
            <p>{{quantidade}}</p>
            <button (click)="adicionar()" id="mais">+</button>


        </div>

        <p>R$ {{precoTotal |number: '1.2-2'}}</p>
    </div>

</div>