<div class="itens_conteiner">
    <div class="pedido">
        <img src="" alt="img">
        <div class="detalhe_pedido">
            <h2>{{nomeItem}}</h2>

        </div>
        <div class="remover-item">
            <button (click)="removerItemCarrinho()" >-</button>
        </div>
        

    </div>

    <div class="container_quantidade">
        <div class="quantidade_button">
            <button (click)="remover()" id="menos">-</button>
            <p>{{quantidade}}</p>
            <button (click)="adicionar()" id="mais">+</button>


        </div>

        <p>R$ {{precoTotal |number: '1.2-2'}}</p>
    </div>

</div>